In [1]:
import os
import pandas as pd
from datetime import datetime
from flask import Flask
from sqlalchemy import create_engine
import getpass

In [2]:
#downloaded total list of all publicly traded stocks in the US from TD Ameritrade
df = pd.read_csv("Sectors.csv")

In [3]:
df

,Symbol,Company Name,Market Capitalization,Sector,Industry,Dividend Yield,Beta
0,A,Agilent Technologies Inc,$29.8B,Health Care,Life Sciences Tools & Services,0.75%,1.1
1,AA,Alcoa Corp,$2.4B,Materials,Metals & Mining,--,2.3
2,AAAIF,ALTERNATIVE INVESTMENT TRUST UNITS,$28.6M,NaN,NaN,--,0.3
3,AAALF,AAREAL BANK AG AKT,$808.7M,NaN,NaN,--,1.2
4,AACG,ATA Creativity Global(ADR),$39.7M,Consumer Discretionary,Diversified Consumer Services,--,2.3
...,...,...,...,...,...,...,...
9995,SQCC,Square Chain Corp,$1.4M,Consumer Discretionary,"Hotels, Restaurants & Leisure",--,-0.8
9996,SQIDF,SQI DIAGNOSTICS INC,$34.6M,Health Care,Health Care Equipment & Supplies,--,0.3
9997,SQM,Sociedad Quimica y Minera de Chile (ADR),$3.7B,Materials,Chemicals,3.16%,1
9998,SQNS,Sequans Communications SA ADR,$206.7M,Information Technology,Semiconductors & Semiconductor Equipment,--,1.4
9999,SQTI,Australian Oil and Gas Holdings Inc,$17.8M,NaN,NaN,--,--

In [4]:
app = Flask(__name__)

pw = getpass.getpass()

print("Connected to pgAdmin")
engine = create_engine(f'postgresql://postgres:{pw}@localhost:5432/Final')
con = engine.connect()

········
Connected to pgAdmin

In [5]:
df.to_sql('Sectors',con,if_exists='replace',index=False)

In [10]:
#df2 = df[['Symbol','Company Name','Market Capitalization','Sector','Industry','Dividend Yield']]
#df2.head()

In [11]:
#df2["Sector"].unique()

In [12]:
#df2["Industry"].unique()

In [13]:
#df3 = df2.groupby(['Sector','Industry'])['Symbol'].count()
#df3

In [ ]:
if __name__ == '__main__':
    app.run()